<%- include('../partials/modal') %>
<h2 class="read-books__heading"><%= user %>'s read books</h2>
<div class="read-books__toolbar">
  <div class="read-books__toolbar-genre">
    <span class="read-books__toolbar-genre-label">Genre</span>
    <form
      action="/books/filter-by"
      method="GET"
      class="read-books__toolbar-genre-form"
    >
      <%- include('../partials/genre') %>
    </form>
  </div>

  <div class="read-books__toolbar-sort">
    <form
      action="/books/sort-by"
      method="GET"
      id="sort-form"
      class="read-books__toolbar-sort-form"
    >
      <label for="sort-select" class="read-books__toolbar-sort-label">
        Sort By
      </label>

      <select
        name="sort"
        id="sort-select"
        class="read-books__toolbar-sort-select"
      >
        <option value="">--Select Sort Option--</option>
        <option value="title-asc">Title (A-Z)</option>
        <option value="title-desc">Title (Z-A)</option>
        <option value="date-newest">Newest</option>
        <option value="date-oldest">Oldest</option>
        <option value="author-asc">Author (A-Z)</option>
        <option value="author-desc">Author (Z-A)</option>
      </select>
    </form>
  </div>

  <div class="read-books__toolbar-add">
    <div class="add-book">
      <button id="toggle-form-btn" class="read-books__toolbar-add-btn">
        Add Book
      </button>
    </div>
  </div>

  <div class="read-books__toolbar-search">
    <form
      action="/books/search-book"
      method="GET"
      class="read-books__toolbar-search-form"
    >
      <input
        type="text"
        name="search"
        id="search"
        class="read-books__toolbar-search-input"
        placeholder="Search book by title"
      />
      <button type="submit" class="read-books__toolbar-search-btn">
        <img src="/assets/search-button.svg" alt="Search" />
      </button>
    </form>
  </div>
</div>

<% if (booksData && booksData.length > 0) { %>
<div class="book-list">
  <% booksData.map( bookData=> { %>
  <article class="book-card">
    <span class="book-card__read-at">
      <%= new Date(bookData.read_at).toDateString() %>
    </span>
    <div class="book-card__buttons">
      <button class="book-card__edit-btn">Edit</button>
      <button class="book-card__delete-btn">Delete</button>
    </div>
    <h2 class="book-card__title"><%= bookData.title %></h2>
    <p class="book-card__genre"><%= bookData.genre %></p>
    <p class="book-card__author"><%= bookData.author %></p>
    <img
      alt="book cover"
      class="book-card__cover"
      src="<%= bookData.cover %>"
    />

    <div class="book-card__gap-right"></div>

    <div class="book-card__setting">
      <h3>Setting</h3>
      <p><%= bookData.setting %></p>
    </div>

    <div class="book-card__spacer-side"></div>

    <div class="book-card__readability">
      <h3>Readability</h3>
      <p><%= bookData.readability %></p>
    </div>

    <div class="book-card__keywords">
      <h3>In a few words</h3>
      <p><%= bookData.words %></p>
    </div>

    <div class="book-card__summary">
      <h3>Summary</h3>
      <p><%= bookData.summary %></p>
    </div>
  </article>
  <% }) %>
</div>
<% } else { %>
<div class="book-list--empty">
  <p>Oops... no books found</p>
</div>
<% } %>
